<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  
  <script src="/js/dist/vendors~FirstComp.js"></script>
  <script src="/js/dist/FirstComp.js"></script>
</body>
</html>
