@layout('layouts/main')

@section('title')
FreshGear | Top Kicks
@endsection

@section('content')
<div class="top-section">
        <div class="product">
            <div class="circle">
                <img src="img/products/adidas-yeezy-boost-white.png" alt="">
              </div>
        </div>
        <div class="titles">
            <h3>yeezy</h3>
            <h1>Boost 350</h1>
          </div>
      </div>
@endsection